<div class="px-4 my-2 text-center">
    <h1 class="display-5 fw-bold"></h1>
    <div class="col-lg-6 mx-auto">
  <p class="lead">Find your exact Tenant with ur Reasonable prices</p>
    </div>
</div>


<div class="row justify-content-center">
<div class="col-8">
  <form action="/login" enctype="multipart/form-data" method="post" >
<div class="row g-3">

    <div class="col-12">
        <!-- <label for="recipe" class="form-label">First Name :</label>
        <input type="text" class="form-control" name="firstname" id="firstname" required/>
    </div>

    <div class="col-12">
        <label for="description" class="form-label">Last Name :</label>
        <input type="text" name="lastname" class="form-control"  required/>
    </div> -->


<div class="col-12">
    <label for="mail" class="form-label">Email :</label>
    <input type="text" class="form-control" name="email" id="email" required/>
</div>

<div class="col-12">
    <label for="phonenumber" class="form-label">Phone Number :</label>
    <input type="text" class="form-control" name="phonenumber" id="phonenumber" required/>
</div>




<!-- 
<div class="col-12">
    <label for="name" class="form-label">Ingredients :</label>
    <small>Example: Ice</small>
    <div class="ingredientList"> 
       <div class="ingredientDiv mb-1"> 
    <input type="text" class="form-control" name="ingredients" required/>
</div>
</div>
</div> -->

<!-- <div class="col-12">
    <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredients</button>
</div> -->

<div class="col-12">
    <label for="category">Select type</label>
    <select class="form-select form-control" name="category" aria-label="Category" required>
        <option value="">--</option>
    <option value="Thai" class="form-control">Buyer</option>
    <option value="American" class="form-control">Seller</option>
     <!-- <option value="Chinese" class="form-control">Chinese</option>
    <option value="Mexican" class="form-control">Mexican</option>
    <option value="Indian" class="form-control">Indian</option> -->
</select>
</div> 

<!-- <div class="col-12">
    <label for="image">property picture :</label>
    <input type="file" class="form-control" name="image" accept="image/*"/>
</div> -->

<div class="col-12">
   <button type="submit" class="btn btn-primary">Login</button> 
</div>

</div>
  </form>  
</div>
</div>